$tab: 768px;
$sp: 450px;

@mixin tab {
    @media screen and (max-width: ($tab)) {
        @content;
    }
}

@mixin sp {
    @media screen and (max-width: ($sp)) {
        @content;
    }
}
