@charset "UTF-8";
@use 'mixin' as m;

body {
    font-size: 100%;
    color: #333333;
    height: 100%;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    font-size: 16px;
    overflow-x: hidden;
    background-color: #F0F0F0;
}

:root {
    // scroll-padding: 95px;
    // scroll-behavior: smooth;
}

img {
    vertical-align: bottom;
    width: 100%;
}

a {
    text-decoration: none;
    color: #333333;
    display: inline-block;
    transition: opacity 0.3s ease;

    &:hover {
        opacity: 0.7;
    }
}

li {
    list-style: none;
}

.main_inner {
    max-width: 750px;
    width: 100%;
    margin: 0 auto;
    background-color: #ffffff;



    @include m.tab {
        max-width: 768px;
    }
}

.container {
    padding: 0 30px;

    @include m.sp {
        padding: 0 15px;
    }

}

.accordion {
    summary {
        list-style: none;
        cursor: pointer !important;
        display: block;
        transition: opacity 0.3s ease;

        &::-webkit-details-marker {
            display: none !important;
        }

        &::marker {
            display: none;
        }

        .btn-opened {
            display: none;
        }

        .btn-closed {
            display: block;
        }
    }

    &[open] {
        summary {
            .btn-opened {
                display: block !important;
                /* 開いたら見せる */
            }

            .btn-closed {
                display: none !important;
                /* 開いたら隠す */
            }
        }
    }
}

.tab_wrapper {
    .tab-area {
        display: flex;
        gap: 2px;

        .tab {
            cursor: pointer;

            .tab_a {
                display: none;
            }

            .tab_b {
                display: block;
            }
        }

        .tab.active {
            .tab_a {
                display: block;
            }

            .tab_b {
                display: none;
            }
        }
    }



    .content-area {
        .content {
            display: none;

            &.show {
                display: block;
            }

            .sec03-btnarea {
                summary {
                    position: relative;
                    transition: all 0.3s ease;

                    &::before,
                    &::after {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 15%;
                        content: '';
                        width: 16px;
                        height: 2px;
                        background-color: #ffffff;
                        transition: all 0.3s ease;
                    }

                    &::after {
                        transform: rotate(-90deg) translateX(1px);
                    }
                }

                &[open] {
                    summary {
                        &::after {
                            transform: translateY(-50%);
                        }
                    }
                }
            }
        }
    }
}


header {
    position: fixed;
    z-index: 100;
    max-width: 750px;
    width: 100%;

    nav {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        opacity: 0;
        visibility: hidden;
        padding: 100px 40px;

        ul {
            .header-menu {
                margin-bottom: 30px;
                font-size: 18px;

                a {
                    color: rgb(255, 255, 255, 0.7);
                    position: relative;


                    &::before {
                        content: "";
                        position: absolute;
                        left: -20px;
                        top: 12px;
                        width: 4px;
                        height: 4px;
                        background: rgb(255, 255, 255, 0.7);
                        border-radius: 999px;
                        display: none;
                    }
                }

                &.active {
                    a::before {
                        display: block;
                    }
                }
            }
        }
    }

    .hamburger {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        height: 40px;
        width: 40px;
        z-index: 20;
        cursor: pointer;

        @include m.sp {
            height: 30px;
            width: 30px;
        }

        span {
            position: absolute;
            left: 0;
            height: 3px;
            width: 38px;
            background-color: #333;
            transition: all 0.3s;
            border-radius: 3px;

            @include m.sp {
                width: 28px;
            }

            &:nth-child(1) {
                top: 4px;
            }

            &:nth-child(2) {
                top: 49%;
            }

            &:nth-child(3) {
                bottom: 2px;
            }
        }
    }

    .mask {
        position: absolute;
        top: 0;
        right: 0;
        height: 500px;
        width: 300px;
        background-color: rgba(0, 0, 0, 0.7);
        opacity: 0;
        transition: all 0.5s;
        z-index: 10;
        display: none;
    }
}

header.open {
    nav {
        transform: translateX(0);
        z-index: 20;
        opacity: 1;
        visibility: visible;
    }

    .hamburger {
        span {
            background-color: rgb(255, 255, 255, 0.7);

            &:nth-child(1) {
                transform: rotate(135deg);
                top: 50%;
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:nth-child(3) {
                transform: rotate(-135deg);
                top: 50%;
            }
        }
    }

    .mask {
        transform: translateX(0);
        opacity: 1;
        display: block;
    }
}

.fv {
    padding-top: 96px;

    @include m.sp {
        padding-top: 50px;
    }
}


.sec02 {
    .sec02-btnarea {
        .sec02-btn {
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.sec03 {}


.sec04 {
    .sec04-item {
        padding-bottom: 40px;
    }
}


.sec05 {
    margin-bottom: 100px;

    .sec05-btnarea {
        .sec05-btn-web {
            margin-bottom: 30px;
        }
    }
}

.sec06 {
    .method01 {
        background-color: #fef2f2;
    }

    .method02 {
        background-color: #f2f4ff;
    }

    .method03 {
        background-color: #ffffff;
        background-color: #f8f0f8;

    }


    .sec06-method {
        .method-inner {
            padding: 0 30px 80px 30px;

            @include m.sp {
                padding: 0 15px 50px 15px;
            }
        }

        .method-readmore {
            position: relative;
            margin-bottom: 100px;

            @include m.sp {
                margin-bottom: 70px;
            }

            &:has(input:checked) {
                margin-bottom: 50px;
            }

            .method-text {
                display: block;
                width: 100%;
                height: 200px;
                object-fit: cover;
                object-position: top;
                overflow: hidden;
                transition: height 0.5s ease-in-out;

                @media screen and (max-width: 600px) {
                    height: 150px;

                }

                @include m.sp {
                    height: 110px;
                }
            }

            input {
                display: none;

                &:checked~.method-text {
                    height: auto;
                }

                &:checked~label {
                    display: none;
                }
            }

            label {
                display: block;
                width: 100%;
                padding: 15px 0;
                text-align: center;
                font-size: 20px;
                cursor: pointer;
                position: absolute;
                bottom: -60px;
                transition: opacity 0.3s ease;

                @include m.sp {
                    font-size: 14px;
                    bottom: -50px;

                }
            }
        }


        .sec06-case {
            .sec06-btnarea {
                summary {
                    position: relative;
                    transition: all 0.3s ease;

                    &::before,
                    &::after {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 15%;
                        content: '';
                        width: 16px;
                        height: 2px;
                        background-color: #333333;
                        transition: all 0.3s ease;

                        @include m.sp {
                            width: 12px;
                            right: 10%;
                        }
                    }

                    &::after {
                        transform: rotate(-90deg) translateX(1px);
                    }
                }

                &[open] {
                    summary {
                        &::after {
                            transform: translateY(-50%);
                        }
                    }
                }
            }
        }

        .sec06-youtubearea {
            background-color: #ffffff;
            padding-bottom: 80px;
            margin-bottom: 80px;

            @include m.sp {
                padding-bottom: 50px;
                margin-bottom: 50px;
            }

            .sec06-youtube {
                position: relative;
                padding-top: 56.25%;
                margin: 0 30px;
                height: 0;

                @include m.sp {
                    margin: 0 15px;
                }


                iframe {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

.sec07 {
    background-color: #f2eee2;

    .sec07-model {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        display: flex;
        cursor: grab; // 掴めるアイコンにする

        &:active {
            cursor: grabbing; // クリック中（掴んでいる間）のアイコン
        }

        &::before,
        &::after {
            content: "";
            display: block;
            flex-shrink: 0;
            width: 30px;
        }

        img {
            width: 1333px;

            @include m.sp {
                width: 800px;
            }
        }
    }
}

.sec08 {}

.sec09 {
    background-color: #eee8d7;
    padding-bottom: 80px;

    @include m.sp {
        padding-bottom: 50px;
    }

    .tab_wrapper {
        .tab-area {
            gap: 0;
        }
    }
}

.sec10 {
    background-color: #ffffff;
    padding-bottom: 80px;

    @include m.sp {
        padding-bottom: 50px;
    }

    .slick {
        .slider {
            width: 100%;
            height: auto;

            .slide {
                padding: 0 10px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 10px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
    color: #b0994c;
}


.sec11 {
    background-color: #eee9d7;
    padding-bottom: 80px;

    @include m.sp {
        padding-bottom: 30px;
    }


    .sec11-faq {


        details {
            summary {
                position: relative;
                transition: all 0.3s ease;

                &::before,
                &::after {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 7%;
                    content: '';
                    width: 24px;
                    height: 2px;
                    background-color: #a78d38;
                    transition: all 0.3s ease;

                    @include m.sp {
                        width: 16px;
                        right: 6%;

                    }
                }

                &::after {
                    transform: rotate(-90deg) translateX(1px);
                }

                &:hover {
                    opacity: 1;
                }
            }

            &[open] {
                summary {
                    &::after {
                        transform: translateY(-50%);
                    }
                }
            }
        }

        .sec11-line {
            vertical-align: top;
        }
    }
}

.sec12 {
    margin-bottom: 80px;
    position: relative;

    .sec12-pc {
        @include m.sp {
            display: none;
        }
    }

    .sec12-sp {
        display: none;

        @include m.sp {
            display: block;
        }
    }

    .sec12-tel {
        display: none;
        position: absolute;
        top: 18%;
        left: 0;
        width: 100%;
        height: 70px;

        @include m.sp {
            display: block;
        }
    }
}